/* ------------ primary colors ----------- */
$clr-pr-l: #f0fbfe;
$clr-pr-d: #281c1b;
// primary with low opacity
$clr-pr-d-trsp: #1e1916bd;

/* ----------- secondary colors ---------- */
$clr-sc-1: #a27653;
$clr-sc-2: #91908d;

/* -------------- typography ------------- */
$fnt-sz-big: calc(0.5vw + 1.35rem);
$fnt-sz-med: calc(0.5vw + 1.05rem);
$fnt-sz-sml: calc(0.2vw + 0.8rem);
