@import "../../style/variables.scss";
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  // background-color: red;
  margin: 0 auto;
  padding: calc(1vh + 0.4rem) 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  .PhotoCredit,
  .PhotoCredit__Link {
    color: #1e1916;
  }
  .PhotoCredit {
    font-size: $fnt-sz-sml;
    text-align: center;
    text-shadow: 2px 2px 2px #9672588a;
    &__Link {
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .FooterWrapper {
    padding: calc(0.5vw + 0.5rem);
    display: flex;
    justify-content: right;
    width: calc(100% - 4rem);
    // margin: 0 auto;
    max-width: 400px;
    // background-color: #9672588a;
  }
  // @media only screen and (min-width: 500px) {

  // }
}
